*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
  /* color: #f66936; */
  /* background: linear-gradient(135deg, #fc2473, #f66936); */
  background-color: #c8e6ca;
  align-items: flex-start;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 1rem;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  background: #202426;
  box-shadow: 1px 1px 13px #03030390;
  border-radius: 0.75rem;
  animation: enter 600ms ease;
  justify-content: space-evenly;
}

h3, h4 {
  margin: auto;
  color: #ffc700;
}

h4 {
  color: #ffc700;
}

button {
  border: 2px solid #536154;
  border-radius: 4px;
  background-color: #202426;
  color: #ffc700;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  padding: 0.3rem;
  margin: auto;
}

.grid {
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(4, auto);
}

.card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 150px;
  animation: enter 600ms ease;
  border-radius: 0.75rem;
}

.card img {
  width: 100%;
}

.card-face, .card-back {
  padding: 1rem;
  background: #161616;
  box-shadow: 1px 1px 13px #03030390;
  border-radius: 0.75rem;
  transition: all ease-in 200ms;
}

.card-face {
  position: absolute;
  transform: rotateY(90deg);
}

.card-back {
  transform: rotateY(0deg);
  transition-delay: 200ms;
}

.selected .card-face {
  transform: rotateY(0deg);
  transition-delay: 200ms;
}

.selected .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 720px) {
  body {
    align-items: center;
  }

  header {
    left: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    border-radius: 0;
  }

  .grid {
    margin: auto auto 3rem auto;
  }

  .card {
    width: 20vw;
  }
}
